<H3> Testing

In [1]:
type(20.0)

float

In [2]:
a = ['Sumit', 18, True]

In [4]:
type(a[2])

bool

<H3>TUPLE

In [5]:
pint_log = {1, 2, 5, 8, 9 , 0, 3, 11, 13}
wife_pint_log = {1, 5, 8, 3, 4, 11,  15}

In [6]:
#PRINTS UNIQUE VALUES OF BOTH TUPLE (A U B)
print(pint_log | wife_pint_log)

{0, 1, 2, 3, 4, 5, 8, 9, 11, 13, 15}

In [7]:
#PRINTS COMMON VALUES OF BOTH TUPLE (A ∩ B)
print(pint_log & wife_pint_log)

{1, 3, 5, 8, 11}

In [8]:
#PRINTS NOT COMMON VALUES OF BOTH TUPLE (A - B)
print(pint_log - wife_pint_log)

{0, 9, 2, 13}

In [9]:
#PRINTS VALUES OF EITHER IN ONE BUT NOT IN BOTH (A + B - (A ∩ B))
print(pint_log ^ wife_pint_log)

{0, 2, 4, 9, 13, 15}

<H3> DICTIONARY </H3>

Key-value Pair

In [19]:
SumitData = {'Name':'Sumit', 'Age':18, 'Place':'Pune'}

In [14]:
#print only values
SumitData.values()

dict_values(['Sumit', 18, 'Pune'])

In [15]:
#call by key
SumitData['Name']

'Sumit'

In [20]:
#update values
SumitData['Name'] = 'Sumit Pandey'
SumitData

{'Name': 'Sumit Pandey', 'Age': 18, 'Place': 'Pune'}

In [21]:
#update all at once
#doesnt deletes the existing data by updating
SumitData.update({'Name':'Sumit', 'Age':18, 'School':'Raigarh'})
print(SumitData)

{'Name': 'Sumit', 'Age': 18, 'Place': 'Pune', 'School': 'Raigarh'}

In [22]:
#use del to delete
del SumitData['School']
SumitData

{'Name': 'Sumit', 'Age': 18, 'Place': 'Pune'}

<H3>FOR LOOP

In [25]:
num = [1,2,3,4,5,6]

for i in num:
    print(i)

1
2
3
4
5
6

In [26]:
#working with dict and for loop using values()

for i in SumitData.values():
    print(i)

Sumit
18
Pune

In [29]:
#working with dict and for loop using items()

for i in SumitData.items():
    print(i)

#OR

for key, value in SumitData.items():
    print(key, ' -> ', value)

('Name', 'Sumit')
('Age', 18)
('Place', 'Pune')
Name  ->  Sumit
Age  ->  18
Place  ->  Pune

<H3> Arbitrary arguments

In [30]:
def number_args(*number):
    print(number[0] * number[1])

In [32]:
#args with a list
number_args(5,6,2,0)

30

In [35]:
#args with a tuple
tuplee_nums = (5,6,2,0)
number_args(*tuplee_nums)

# * IS IMPORTANT

30

In [42]:
#Keyword arguments
def number_kwarg(**number):
    print('My number is ' + number['integer1'] + ', my other number is ' + number['integer2'])

In [43]:
number_kwarg(integer1 = '2309', integer2 = '349')

My number is 2309, my other number is 349

<H3> Converting Data Types

In [2]:
num_int = 7
num_str = '7'

num_int +  int(num_str)

14

In [15]:
list_list = [1, 2, 3, 4, 4, 3, 2]
tuple_tuple = (1, 2, 3, 5, 1, 2, 3)

In [17]:
tuple(list_list) + (tuple_tuple) #()
list_list + list(tuple_tuple)    #[]
set(list_list)                   #{}
set(tuple_tuple)                 #{}

{1, 2, 3, 5}

In [26]:
dict_dict = {'name':'Sam', 'age': 22, 'place':'Delhi', 'place': 'pune'}

list(dict_dict.keys())          #[]
tuple(dict_dict.keys())         #()
#set(dict_dict.keys())           #{}

('name', 'age', 'place')

In [27]:
dict_dict.values()
#'pune' has replaced 'Delhi'

dict_values(['Sam', 22, 'pune'])

In [35]:
long_str = 'my name is anthony gonsalves'
print(' ',list(long_str)) #[]

  ['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'n', 't', 'h', 'o', 'n', 'y', ' ', 'g', 'o', 'n', 's', 'a', 'l', 'v', 'e', 's']

In [29]:
set(long_str) #{}

{' ', 'a', 'e', 'g', 'h', 'i', 'l', 'm', 'n', 'o', 's', 't', 'v', 'y'}